* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  html, body {
	height: 100%;
  }
  
  body {
	color: #333;
	background-color: #91b7c2;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
  }
  
  main {
	flex: 1 0 auto;
  }

/* Main content */
.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  padding: 20px;
  max-width: 100%;
  margin: 0 auto;
}

/* headers on main page */
.main h2 {
	background-color: #020247;
	color: #11b2bb;
	border-radius: 100px;
	padding: 10px;
	margin: 20px;
}

/* bio on main page */
.bio {
	flex: 2;
  	max-width: 400px;
  	font-size: 18px;
  	line-height: 1.6;
}

/* profile picture on main page */
.profile-pic {
	border-radius: 100px;
	overflow: hidden;
	flex: 1;
	max-width: 200px;
	height: auto;
	padding: 20px;
}

/* project descriptions for the project pages */
.proj-description {
	flex: 2;
  	max-width: 400px;
  	font-size: 18px;
  	line-height: 1.6;
}

/* images for the project pages */
.proj-images {
	flex: 1;
	max-width: 400px;
	height: auto;
	padding: 20px;
}

/* main content box for hobbies page */
.hobbies-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	background-color: white;
	padding: 20px;
	max-width: 100%;
    margin: 0 auto;
  }

/* container for each hobby */
.hobbies-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	background-color: white;
	padding: 20px;
}

/* .hobbies-row p {
    border: 5px solid #020247;
	border-radius: 100px;
	padding: 20px;
	word-wrap: break-word;
} */

/* styling for images on hobby page */
.hobbies-images{
	flex: 1;
	max-width: 250px;
	height: auto;
	padding: 20px;
}

/* main content box for contact page */
.contact-container {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	background-color: white;
	padding: 20px;
	max-width: 100%;
    margin: 0 auto;
  }

.contact-container ul {
	padding: 10px;
}

.contact-container li {
	padding: 5px;
}

/* grid for bio projects page*/
.grid-container {
	display: grid;
	justify-content: center;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 20px;
	max-width: 90%;
    margin: 0 auto;
}

/* List all your container classes separated by commas */
.main, 
.contact-container, 
.grid-container,
.hobbies-container,
.hobbies-row {
    background-color: #91b7c2;
}




/* styling for mobile */
@media screen and (max-width: 600px) {
	.main {
		flex-direction: column;
		align-items: center;
	}
	.bio {
		max-width: 100%;
		margin-bottom: 20px;
	}
	.profile-pic {
		max-width: 150px;
		margin-left: 0;
		margin-top: 20px;
	}
	.proj-description {
		max-width: 100%;
		margin-bottom: 20px;
	}
	.proj-images {
		max-width: 200px;
		margin-left: 0;
		margin-top: 20px;
	}
	.grid-container {
		grid-template-columns: 1fr;
		justify-items: center;
	}
	.hobbies-row {
		flex-direction: column;
		align-items: center;
	}
  }